
body{
    margin: 0;
}

a {
    color:black;
    text-decoration: none;
}

h1 {
    font-size:45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-top: 10px; margin-left: 20px; margin-bottom: 70px;
}

ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}

img {
    margin-left: 20px;
}

#grid{
    font-size: 17px;
    display:grid;
    grid-template-columns: 150px 1fr;
}

#grid ol { 
    padding-left: 34px;
}

#grid li{
    padding-bottom: 15px;
}

#article{
    padding-left: 30px;
}

@media(max-width:800px){
    #grid{
        display:block;
    }
    h1 {
    border-bottom: none;
    }
    ol {
    border-right: none;
    }

}
